body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; 
}

.App {
  text-align: center;
}

header {
  background-color:#7fd9ff; 
  color: #ff5a5a;
  cursor: pointer;
  padding: 1em;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 1em;
  font-weight: bold;
}

.main-section {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}

.quick-entry-form {
  flex: 1;
  background-color: #ffffff;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quick-entry-form input,
.quick-entry-form textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #8e8e8e; 
  border-radius: 4px;
}

.image-upload-label {
  display: block;
  margin-bottom: 1em;
  cursor: pointer;
  color: #3b5998; 
}


a {            
  color:#ff5a5a; /* Nav bar main color*/
  font-weight: bold;
  
  
}   


button {
  background-color: #f76c6c;
  color: #ffffff;
  padding: 0.8em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

button:hover {
  background-color: #ff5a5a;
}

.diary-entries {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.entry-card {
  background-color: #fdfdfd;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; 
}

.entry-card:hover {
  transform: scale(1.03);
}

.entry-card img {
  max-width: 100%;
  border-radius: 4px;
}

