/* General Styles */
/* General body styles for the entire website */
body {
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    overflow: auto;
    font-family: 'Arial', sans-serif; /* Consistent font family across the site */
}

/* Specific styles for the login page */
.login-body {
    background: url('/public/CCL Diary.jpg') no-repeat center center; /* Background image for the login page */
    background-size: cover; /* Ensure the image covers the full background */
}

/* Header Container styles */
.header-Container {
    background-color: #7fd9ff; /* Light blue background color */
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Vertically center all items in the container */
    justify-content: space-between; /* Space elements out between left and right edges */
    padding: 1px 40px; 
    z-index: 2;
    position: relative;
}


.header-Container h1 {
    font-size: 3em; /* Smaller font size */
    color: #ff5a5a; /* Maintain white color for visibility */
    margin: 0;
    padding: 0;
}

/* Adjust the size of the logo */
.logo {
    max-width: 85px; /* Adjust logo size */
    height: auto; /* Maintain aspect ratio */
}

/* Login form container */
.login-Center {
    text-align: center;
    margin-top: 40px;
    padding: 80px;
    box-shadow: 0 0 20px rgba(13, 11, 11, 0.15);
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    position: relative;
    z-index: 1;
    margin: 40px auto 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.login-Center h2 {
    margin-top: 10;  
    padding-top: 0px; 
    font-size: 2.0em; 
}


.login-Center label, .login-Center input {
    width: 100%; /* Ensure full width within container */
    margin: 5px 0; /* Add some vertical spacing */
}

/* Additional responsiveness and accessibility */
@media (max-width: 768px) {
    .header-Container, .login-Center {
        padding: 10px 0;
    }
}
