/* General Styles */
body {
    margin: 0; 
    padding: 0; 
    overflow: auto;
    font-family: 'Arial', sans-serif; 
}

body, html {
    height: 100%; 
}

/* Specific styles for the login page */
.login-body {
    min-height: 85vh; 
    display: flex;
    flex-direction: column;
    background: url('/public/CCL Diary.jpg') no-repeat center center; /* Background image for the login page */
    background-size: cover; 
}

/* Header Container styles */
.header-Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: #7fd9ff;
}


.header-Container h1 {
    font-size: 2em; 
    color: #ff5a5a; 
    margin: 0;
    padding: 0;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

/* Adjust the size of the logo */
.logo {
    max-width: 85px; /* Adjust logo size */
    height: auto; 
    margin-right: 10px;
}

.login-Center h2 {
    margin-top: 10;  
    padding-top: 0px; 
    font-size: 2.0em; 
}


.login-Center {
    text-align: center;
    margin-top: 20px;
    padding: 40px 40px; 
    box-shadow: 0 0 20px rgba(13, 11, 11, 0.15);
    border-radius: 8px;
    width: 95%; 
    max-width: 400px; 
    position: relative;
    z-index: 1;
    margin: 20px auto; 
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-Center input {
    width: 80%; 
    padding: 12px 20px; 
    font-size: 1.2em; 
    border: 2px solid #ccc; 
    border-radius: 4px; 
    margin: 10px 0; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

.login-Center label {
    display: block;
    text-align: center; /* Center labels text */
    margin-bottom: 5px; /* Space before the inputs */
}


@media (max-width: 768px) {
    .header-Container, .login-Center {
        padding: 10px 0;
    }
}
